*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper-container{
    max-width: 1650px;
    padding-inline: 80px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 50px;
}

.logo img{
   width: 35px;
   cursor: pointer;
}

.hamburger{
    border: 4px solid black;
    width: 40px;
    cursor: pointer;
}

.hamburger::before{
    content: '';
    border: 4px solid black;
    width: 40px;
    position: absolute;
    margin-top: -18px;
    margin-left: -15px;
}

.closebtn{
    position: absolute;
    top: 50px;
    right: 70px;
    border: 4px solid black;
    width: 40px;
    cursor: pointer;
}

.closebtn::before{
    content: '';
    border: 4px solid black;
    width: 40px;
    position: absolute;
    margin-top: -18px;
    margin-left: -15px;
}

.nav-menu{
    background: linear-gradient(white,rgba(255, 255, 255, 0.621));
    backdrop-filter: blur(10px);
    width: 100%;
    height: 105vh;
    position: absolute;
    top: -500vw;
    left: 0;
    z-index: 1000;
    transition: .3s ease-in-out;
}

.nav-show{
    top: 0;
}

.nav-menu main{
    display: flex;
}

#nav-img{
    width: clamp(500px,60vw,800px);
    height: 105vh;
    object-fit: cover;
}

.nav-menu .links-navigation{
    padding: 80px;
}

.nav-menu .links-navigation li{
    list-style: none;
    margin-bottom: 20px;
}

.nav-menu li a{
    color: black;
    text-decoration: none;
    font-family: 'appleFont';
    font-size: clamp(1.5rem, 3vw, 2.5rem);
}

.nav-menu li{
    transition: .2s ease;
}
.nav-menu li:hover{
    transform: translateX(1rem);    
}

.hero{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.hero-video{
    width: clamp(100%, 75vw, 80rem);
    height: 100vh;
    object-fit: cover;
}

.hero::before{
    content: 'Apple';
    color: white;
    font-size: clamp(3rem,6vw,6rem);
    font-family: 'AppleFont';
    position: absolute;
    top: 200px;
    left: clamp(0px,15vw,300px);
}

.hero::after{
    content: 'Power in Simplicity';
    background: linear-gradient(to bottom right,white,rgb(255, 253, 186));
    background-clip: text;
    color: transparent;
    font-size: clamp(3rem,6vw,6rem);
    font-family: 'AppleFont';
    position: absolute;
    top: 300px;
    left: clamp(0px,15vw,300px);
}

@font-face {
    font-family: 'AppleFont';
    src: url('./static-font/Inter_18pt-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'AppleFontLight';
    src: url('./static-font/Inter_28pt-Medium.ttf') format('truetype');
}

.mision-company{
    padding-top: 100px;
}

.mision-company h2{
    font-family: 'AppleFont';
    font-size: clamp(2rem, 4vw, 3rem);
    color: rgb(31, 31, 31);
    text-align: left;
}

.wrapper-mision{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    overflow-x: hidden;
    padding-top: 30px;
}

.inovasi-container{
    background-image: url('./gif/iphone.gif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100px;
    height: clamp(500px,30vw,100vh);
    overflow: hidden;
    transition: .2s ease;
}

.active{
    width: clamp(500px,70vw,80rem);
}

.width-normal{
    width: clamp(500px,70vw,80rem);
}

.about-company{
    padding-top: 100px;
}

.about-company h1{
    font-family: 'AppleFont';
    font-size: clamp(2rem, 4vw, 3rem);
    text-align: left;
    color: rgb(31, 31, 31);
}

.about-company p{
   margin-top: 30px;
   text-align: justify;
   font-size: clamp(0.8rem, 2vw, 1.3rem);
   font-family: sans-serif;
}

.center{
    display: grid;
    place-content: center;
    margin-top: 60px;
}

.about-video{   
    width: clamp(100%, 75vw, 80rem);
    height: 100vh;
    object-fit: cover;
}

.product-company{
    padding-top: 100px;
}

.product-company h1{
    font-family: 'AppleFont';
    font-size: clamp(2rem, 4vw, 3rem);
    text-align: left;
    color: rgb(31, 31, 31);
}

.slider{
    display: grid;
    grid-auto-flow: column; 
    grid-auto-columns: 200px; 
    gap: 150px; 
    overflow-x: auto; 
    overflow-y: hidden; 
    padding: 1rem; 
}

.slider::-webkit-scrollbar {
    background-color: transparent;
}

.content-inside{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
}

.text-product{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-inside h2{
    font-family: 'AppleFont';
    font-size: clamp(1rem, 2vw, 1.5rem);
    text-align: center;
    color: rgb(31, 31, 31);
    margin-top: 20px;
}

.content-inside p{
    text-align: center;
    font-size: clamp(1rem, 2vw, 1.2rem);
    font-family: sans-serif;
    margin-top: 20px;
}

.product-image{
   width: clamp(150px, 15vw , 200px);
   transition: .3s ease;
}

.product-image:hover{
    transform: scale(1.02);
}


.content-inside  button{
    border: none;
    background-color: rgb(0, 0, 0);
    border-radius: 24px;
    color: white;
    width: clamp(100px, 20vw, 140px);
    height: clamp(35px,10vw,45px);
    font-family: 'AppleFontLight';
    font-size: clamp(0.8rem, 1.5vw, 1.02rem);
    cursor: pointer;
}

.position-images{
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 100px;
}

.flex-gap{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 20px;
    gap: 30px;
}

.slider-kenali-kami{
    display: grid;
    grid-auto-flow: column; 
    grid-auto-columns: 200px; 
    gap: 220px; 
    overflow-x: auto; 
    overflow-y: hidden; 
    padding: 1rem; 
}

.slider-kenali-kami::-webkit-scrollbar {
    background-color: transparent;
}

.kenali-kami{
    padding-top: 100px;
}

.kenali-kami h1{
    font-family: 'AppleFont';
    font-size: clamp(2rem, 4vw, 3rem);
    text-align: left;
    color: rgb(31, 31, 31);
    padding-bottom: 60px;
}

.content-kenali-kami{
    background-image: url('./images/the-black-man.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 24px;
    padding: 30px;
    width: 400px;
    height: 800px;
    cursor: pointer;
    transition: .3s ease;
}

.content-kenali-kami:hover{
    transform: scale(1.02);
}

.content-kenali-kami h2{
    font-family: 'AppleFont';
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.836);
}

.content-kenali-kami h3{
    font-family: 'AppleFont';
    font-size: clamp(1.2rem, 2vw, 1.5rem);
    color: rgba(255, 255, 255, 0.836);
    margin-top: 10px;
}

.lihat-lebih-dekat{
    margin-top: 100px;
}

.lihat-lebih-dekat h1{
    font-family: 'AppleFont';
    font-size: clamp(2rem, 4vw, 3rem);
    text-align: left;
    color: rgb(31, 31, 31);
}

.wrapper-lihat{
    display: grid;
    place-content: center;
    margin-top: 60px;
}

.video-content{
    border-radius: 24px;
    width: clamp(300px,90vw,180vh);
    height:100vh;
    object-fit: cover;
}

footer {
  color: #333;
  font-size: 14px;
  margin-top: 100px;
  font-family: sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.footer-column {
  flex: 1 1 200px;
  margin: 20px;
}

.footer-column h4 {
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 6px;
  cursor: pointer;
  transition: color 0.3s;
}

.footer-column ul li:hover {
  color: #0071e3;
}

.footer-bottom {
  border-top: 1px solid #ccc;
  padding-top: 20px;
  font-size: 13px;
}

.footer-bottom a {
  color: #0071e3;
  text-decoration: none;
}

.footer-bottom a:hover {
  text-decoration: underline;
}

.footer-bottom p {
  margin: 8px 0;
}

@media screen and (min-width: 1560px){
    .container{
        display: grid;
        place-content: center;
    }
    .hero::after,.hero::before{
        display: none;
    }
}

@media screen and (max-width:1080px){
    .link-preview-images{
        display: none;
    }
}

@media screen and (max-width: 768px){
    .wrapper-container{
        padding-inline: 20px;
    }
    .nav-menu .links-navigation{
        padding-inline: 20px;
    }
    .closebtn{
        right: 20px;
    }
}